.app{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;

}

.app>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title{
    font-family: monospace;
}
